{% load static %}
<form method="POST" enctype="multipart/form-data" style="font-family:Cambria,serif">{% csrf_token %}
    <div class="grid-x grid-margin-x">
        <div class="cell large-6">
            <h2>Lectores</h2>
            <div class="cell callout">
                {{ form.lector }}
            </div>
            <div class="cell large-5">
               <img src="{% static '/img/registro.jpg' %}" alt="Interior de Biblioteca">
               <button class="success button" type="submit" style="vertical-align: bottom; margin-left: 4%">Registrar</button>
            </div>
        </div>
        <div class="cell large-6">
            <h2>Libros</h2>
                <div class="cell callout" style="font-size:80%; overflow: auto; height: 300px;">
                    {{ form.libros }}
                </div>
        </div>
    </div>
</form>