{% extends 'base.html' %}

{% block title %} Registro de prestamo múltiple{% endblock %}

{% block content %}
    {%  include 'includes/header.html' %}
<div class="grid-container">
    <div class ="grid-x grid-padding-x" style="width: 80%; background-color: #FFE4C4">
        <div class="cell large-12">
            <h1>Registro de prestamo múltiple</h1>
        </div>
        <div class="cell large-12">
            {%  include 'includes/multiprestamo.html' %}
        </div>
    </div>
</div>
{% endblock content %}