{%  extends 'base.html' %}

{% block title %}
    Eliminar lector
{% endblock title %}

{%  block content %}
{%  include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x grid-padding-x" style="background-color: #FFE4C4; width: 70%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
        <h1 class="cell">Eliminar lector</h1>
        <div class="cell">
            <form class="cell" method="post">{% csrf_token %}
                <div class="callout secondary">
                    <h5>Confirme que desea eliminar este lector</h5>
                    {{ object.id }} - {{ object.nombre }} {{ object.apellidos }}
                    <p>Cuando se elimine el lector también se eliminarán todos sus datos relacionados</p>
                    <div class="cell">
                        <button type="submit" class="alert button">Eliminar</button>
                        <a class="button" href="{% url 'lector_app:lectores' %}">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{%  endblock content %}